
@font-face {
  font-family: "iconfont"; /* Project id 2149338 */
  src: url('iconfontad84.woff2?t=1721275440329') format('woff2'),
  url('iconfontad84.woff?t=1721275440329') format('woff'),
  url('iconfontad84.ttf?t=1721275440329') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id 2149338 */
  src: url('iconfontad84.woff2?t=1721275440329') format('woff2'),
  url('iconfontad84.woff?t=1721275440329') format('woff'),
  url('iconfontad84.ttf?t=1721275440329') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconliuchengjiantou1:before {
  content: "\e791";
}

.iconliuchengjiantou:before {
  content: "\e78b";
}

.iconliuchengjiantou2:before {
  content: "\e792";
}

.iconxiazaiwenjian-02:before {
  content: "\e404";
}

.iconxiazai-01:before {
  content: "\e403";
}

.iconwenjian-03:before {
  content: "\e402";
}

.iconguanbi:before {
  content: "\e401";
}

