.download .download-title {
	width:100%;
	height:180px;
	box-sizing:border-box;
	padding:30px;
	background-color:#f5f5f5;
	line-height:30px;
	color:#666;
	margin-bottom:20px;
	font-size:15px;
	text-align:left
}
.download .download-item {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	border-bottom:1px solid #d1d1d1;
	margin-bottom:30px
}
.download .download-item .download-content {
	width:80%;
	text-align:left
}
.download .download-item .download-content p:nth-of-type(1) {
	color:#333;
	font-weight:700;
	height:40px;
	line-height:40px;
	cursor:pointer
}
.download .download-item .download-content p:nth-of-type(1) i {
	font-size:20px
}
.download .download-item .download-content p:nth-of-type(1) a:hover {
	color:#276DC1;
	font-weight:700;
	transition:all .4s
}
.download .download-item.active .download-content p:nth-of-type(1) {
	color:#276DC1;
	font-weight:700
}
.download .download-item .download-content p:nth-of-type(2) {
	color:#666;
	margin:20px 0
}
.download .download-item .button {
	display:inline-block;
	width:130px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#fff;
	border:1px solid #276DC1;
	color:#276DC1;
	margin:20px 0;
	border-radius:20px;
	font-size:12px
}
.download .download-item .button.active {
	background:#276DC1;
	color:#fff
}
.download .download-item .button:hover {
	background:#276DC1;
	color:#fff
}
.download-list .right {
	width:100%
}
@media screen and (max-width:767px) {
	.download .download-item .download-content {
	width:100%
}
}.download .hide {
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:rgba(0,0,0,.3);
	z-index:10;
	display:none;
	z-index:9999
}
.download .hide form {
	width: 410px;
	background-color:#f5f5f5;
	position:relative;
	z-index:111;
	padding:40px 30px;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);box-sizing:border-box;
}
.download .hide form .close {
	width: 28px;height: 28px;
	font-size: 12px;
	right:-17px;top: -17px;
	display: flex;align-items: center;justify-content: center;
	border-radius:50%;
	text-align:center;
	
	
	
	position:absolute;
	
	color:#fff;
	background:#333;
	cursor:pointer;
	
	  
	
}
.download .hide form .form-title {
	text-align:center
}
.download .hide form .form-title p {
	font-weight:700;
	color:#276DC1
}
.download .hide form .form-title p:nth-of-type(2) {
	width:60px;
	height:2px;
	background-color:#276DC1;
	margin:10px auto
}
.download .hide form .input {
	width:100%;
	max-width:525px;
	margin-top:20px;
	position:relative;
	display:inline-block
}
.download .hide form .input .check-input {
	border-radius:3px;
	padding:5px 10px;
	line-height:24px;
	width:100%;
	display:block;
	height:35px;
	border:1px solid #e1e1e1;
	background-color:#fff;    box-sizing: border-box;
}
.download .hide form .input .check-input.red-border {
	border:1px solid red
}
.download .hide form .input textarea {
	min-height:100px
}
.download .hide form .captcha .input {
	width:64%
}
.download .hide form .captcha .fr {
	width: calc(35% - 20px);
	margin-top:20px; float:right;
}
.download .hide form .captcha .fr a {
	display:inline-block
}
.download .hide form .captcha img {
	max-width:100%;
	height:35px
}
.download .m-error {
	color:red
}
.download .hide form input[type=button] {
	width:100%;
	height: 35px;line-height: 35px;
		margin-top: 28px;
	text-align:center;
	
	background-color:#333;
	color:#fff;
	
	cursor:pointer;
	border-radius:40px
}
.download .hide form input[type=button]:hover {
	opacity:.8
}
@media screen and (max-width:767px) {
	.download .hide form {
	width:400px;
	padding:20px 15px;
}
.download .hide form .input .check-input {
	height:35px
}
.download .hide form .captcha img {
	height:35px
}
.download .hide form .close {
	width: 25px;
height: 25px;
line-height: 25px;
right: -17px;
top: -17px;
font-size: 14px;
}
.download .hide form input[type=button] {
	height:35px;
	line-height:35px
}
}
@media screen and (max-width:567px) {
	.download .hide form {
	width:380px
}
.download .hide form .input {
	margin-top:10px !important
}
.download .hide form .captcha .fr {
	margin-top:10px !important; float:right;
}
.download .hide form .input .check-input {
	height:35px
}

.download .hide form .close {
	width:35px;
	height:35px;
	line-height:35px;
	right:-17px;
	top:-17px;
	font-size:14px
}
.download .hide form input[type=button] {
	height:35px;
	line-height:35px; margin-top:10px !important
}
.download .hide form .form-title p:nth-of-type(2) {
	
	margin:5px auto
}
}
@media screen and (max-width:415px) {
	.download .hide form {
	width:320px;
	padding:20px 15px; 
}
.download .hide form .close {
    width: 28px;
    height: 28px;
    font-size: 12px;
    right: -14px;
    top: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
@media screen and (max-width:330px) {
	.download .hide form {
	width:290px
}
}.news-classify .news-title {
	width:100%;
	height:180px;
	box-sizing:border-box;
	padding:30px;
	background-color:#f5f5f5;
	line-height:30px;
	color:#666;
	margin-bottom:20px;
	font-size:15px;
	text-align:left
}
.news-classify .item-right {
	width:100%;
	border:1px solid #e7e7e7;
	padding:20px 0 10px;
	border-radius:0;
	position:relative;
	display:flex;
	display:-webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between;
	box-sizing:border-box;
	margin-bottom:40px
}
.news-classify .item-right .black {
	width:10px;
	height:100%;
	background-color:#999;
	position:absolute;
	left:0;
	top:0
}
.news-classify .item-right .content {
	max-width:550px;
	width:50%;
	margin-left:20px
}
.news-classify .item-right .content .data {
	color:#999
}
.news-classify .item-right .content .tit {
	color:#333;
	margin-top:10px;
	line-height:25px;
	font-weight:700
}
.news-classify .item-right .content .tit a:hover {
	color:#276DC1
}
.news-classify .item-right .content .txt {
	color:#666;
	line-height:30px
}
.news-classify .item-right .content .txt a:hover {
	color:#276DC1
}
.news-classify .item-right .img-box {
	width:40%
}
.news-classify .item-right .img-box img {
	width:100%;
	max-height:305px
}
.news-classify .button {
	display:inline-block;
	width:130px;
	height:35px;
	line-height:35px;
	text-align:center;
	border:1px solid #276DC1;
	margin-top:40px;
	border-radius:20px;
	font-size:12px;
	background:#fff;
	color:#276DC1
}
.news-classify .button.active {
	background:#276DC1;
	color:#fff
}
.news-classify .button:hover {
	background:#276DC1;
	color:#fff
}
@media screen and (max-width:1419px) {
	.news-classify .button {
	margin-top:30px
}
}@media screen and (max-width:1219px) {
	.news-classify .button {
	margin-top:10px
}
}@media screen and (max-width:567px) {
	.news-classify .item-right .content {
	width:100%
}
.news-classify .item-right .img-box {
	width:100%
}
}.news-classify.news-list .right {
	width:100%
}
.news-classify.news-list .right .content {
	width:60%;
	max-width:782px
}
.news-classify.news-list .item-right .content .tit {
	margin-top:30px;
	margin-bottom:20px
}
.news-classify.news-list .item-right .content .button {
	margin-top:50px
}
.news-classify.news-list .right .img-box {
	width:30%
}
@media screen and (max-width:1219px) {
	.news-classify.news-list .right .content {
	width:50%
}
.news-classify.news-list .item-right .content .button {
	margin-top:10px;
	line-height:31px
}
.news-classify.news-list .right .img-box {
	width:45%
}
}@media screen and (max-width:991px) {
	.news-classify.news-list .right .content {
	width:50%
}
}@media screen and (max-width:767px) {
	.news-classify.news-list .right .content {
	width:100%
}
.news-classify.news-list .right .img-box {
	width:60%;
	margin:0 auto
}
}.news-content h1 {
	text-align:center
}
.news-details .news-content .news-content-title {
	width:100%;
	padding:20px 0;
	margin:20px 0;
	background:#f5f5f5
}
.news-details .news-content .news-content-title2 {
	width:80%;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap
}
.news-details .news-content .news-content-title2 p {
	display:flex;
	align-items:center;
	margin:10px 0
}
.news-details .news-content .news-content-title2 i {
	font-size:18px
}
.news-details .news-content .news-content-title2 .img-p {
	display:flex;
	align-items:center
}
.news-details .news-content .news-content-title2 .img-p>a {
	margin:0 5px
}
.news-details .news-content .news-content-title2 .img-p .at-share-btn-elements {
	display:flex!important
}
.news-details .news-content .news-content-title2 .img-p .at-resp-share-element .at-icon {
	width:26px!important;
	height:26px!important
}
.news-details .news-content .news-content-title2 .img-p .at-style-responsive .at-share-btn {
	padding:0!important;
	-moz-border-radius:2px!important;
	border-radius:2px!important
}
.news-details .news-content .news-content-title2 .img-p .at-resp-share-element .at-share-btn .at-icon-wrapper {
	width:26px!important;
	height:26px!important
}
.news-details .news-content .news-content-title2 .img-p .at-resp-share-element .at-share-btn {
	margin-bottom:0!important;
	margin-right:3px!important;
	display:flex!important;
	height:26px!important
}
.news-details .news-article {
	width:100%;
	margin-bottom:20px
}
.news-details .news-article .color-333 {
	line-height:25px
}
.news-details .news-article>.color-333 {
	margin-bottom:20px
}
.news-details .news-img-box {
	width:100%;
	text-align:center;
	padding:30px 20px 30px;
	border-bottom:2px solid #ccc
}
.news-details .news-img-box img {
	max-width:455px;
	max-height:340px;
	width:100%
}
.news-details .button-group {
	margin:30px 0
}
.news-details .button-group .button-skip {
	margin:10px 0;
	display:flex;
	align-items:center
}
.news-details .button-group .button-skip a:hover {
	color:#276DC1
}
.news-details .button-group .button-skip button {
	width:25px;
	height:25px;
	background:#276DC1;
	color:#fff;
	font-size:20px;
	font-weight:700;
	text-align:center;
	line-height:25px
}
.news-details .button-group .button-skip i {
	width:25px;
	height:25px;
	background:#276DC1;
	color:#fff;
	font-size:20px;
	font-weight:700;
	text-align:center;
	line-height:25px
}
.news-details .button-group .button-skip span {
	color:#888
}
.news-details .related {
	width:100%;
	margin-bottom:30px
}
.news-details .related .p-title span {
	font-size:20px;
	border-bottom:3px solid #276DC1
}
.news-details .related hr {
	margin-top:1px;
	height:2px;
	background:#dcdcdc;
	margin-bottom:20px
}
.news-details .related .related-imgList {
	width:100%;
	display:flex;
	display:-webkit-flex;
	flex-wrap:wrap;
	justify-content:space-between
}
.news-details .related .related-imgList .item {
	width:24%;
	text-align:center;
	cursor:pointer;
	transition:all .4s
}
.news-details .related .related-imgList .p-img {
	display:flex;
	align-items:center;
	justify-content:center
}
.news-details .related .related-imgList .p-img a {
	display:inline-block
}
.news-details .related .related-imgList .p-img img {
	display:block;
	width:100%;
	margin-bottom:26px;
	margin-top:50px;
	transition:all .4s
}
.news-details .related .related-imgList .p-text {
	width:100%;
	color:#666;
	line-height:30px;
	text-align:center;
	margin:10px 0
}
.news-details .related .related-imgList .item:hover a {
	color:#276DC1
}
.news-details .related .related-imgList .item:hover .p-img {
	box-shadow:0 0 15px 2px #e4e5e6
}
@media screen and (max-width:1419px) {
	.news-details .news-content .news-content-title2 {
	width:96%
}
}@media screen and (max-width:991px) {
	.news-details .news-content .news-content-title2 {
	justify-content:flex-start
}
}@media screen and (max-width:767px) {
	.news-details .news-content .news-content-title2 {
	justify-content:space-between
}
.news-details .news-content .news-content-title2 p {
	width:45%
}
}@media screen and (max-width:567px) {
	.news-details .news-content .news-content-title2 p {
	width:100%;
	justify-content:center
}
}.news-details.case-details .news-content .news-content-title {
	width:100%;
	padding:20px 0;
	margin:20px 0;
	background:#fff;
	text-align:center
}
.news-details.case-details .news-content .news-content-title .img-p {
	display:flex;
	align-items:center;
	justify-content:center
}
.news-details.case-details .news-content .news-content-title .img-p .at-share-btn-elements {
	display:flex!important
}
.news-details.case-details .news-content .news-content-title .img-p .at-resp-share-element .at-icon {
	width:26px!important;
	height:26px!important
}
.news-details.case-details .news-content .news-content-title .img-p .at-style-responsive .at-share-btn {
	padding:0!important;
	-moz-border-radius:2px!important;
	border-radius:2px!important
}
.news-details.case-details .news-content .news-content-title .img-p .at-resp-share-element .at-share-btn .at-icon-wrapper {
	width:26px!important;
	height:26px!important
}
.news-details.case-details .news-content .news-content-title .img-p .at-resp-share-element .at-share-btn {
	margin-bottom:0!important;
	margin-right:3px!important;
	display:flex!important;
	height:26px!important
}
.case-classify .right .item {
	width:48%
}
.case-classify .right .item img {
	width:100%
}
.case-classify .right .item .item-content {
	background-color:#f5f5f5;
	padding:10px 30px
}
.case-classify .right .item .item-content .item-tit {
	line-height:30px;
	font-weight:700
}
.case-classify .right .item .item-content .item-tit a:hover {
	color:#276DC1
}
.case-classify .right .item .item-content .item-txt {
	line-height:25px;
	text-align:left
}
.case-classify .right .item .item-content .item-txt a:hover {
	color:#276DC1
}
.case-classify.case-list .item {
	width:30%;
	margin-bottom:30px
}
@media screen and (max-width:991px) {
	.case-classify.case-list .item {
	width:48%
}
}.news-content-parent {
	display:flex;
	justify-content:space-between
}
.news-content-parent .news-content {
	width:100%
}
.news-details .correlation-new .title {
	width:100%;
	color:#333;
	font-size:20px
}
.news-details .correlation-new .title span {
	font-size:20px;
	border-bottom:3px solid #276DC1
}
.news-details .correlation-new hr {
	margin-top:1px;
	height:2px;
	background:#dcdcdc;
	margin-bottom:20px
}
.news-details .correlation-new-imgList {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-between
}
.news-details .correlation-new-imgList a {
	width:24%
}
.news-details .correlation-new-imgList a .img-box {
	display:flex;
	align-items:center;
	justify-content:center
}
.news-details .correlation-new-imgList a .img-box img {
	display:block;
	width:100%;
	margin-bottom:26px;
	margin-top:50px;
	transition:all .4s
}
.news-details .correlation-new .item .img-box {
	display:flex;
	align-items:center;
	justify-content:center
}
.news-details .correlation-new .item .img-box img {
	max-width:100%;
	max-height:100%
}
.news-details .correlation-new .item .item-tit {
	margin:10px 0;
	font-size:16px;
	color:#333
}
.news-details .correlation-new .item .item-con {
	color:#666;
	font-size:16px;
	text-align:left
}
.news-details .correlation-new .item:hover .img-box {
	box-shadow:0 0 15px 2px #e4e5e6
}
.news-details .correlation-new .item:hover .item-tit {
	color:#276DC1
}
.news-details .correlation-new .item:hover .item-con {
	color:#276DC1
}
.flex .case-content-item {
	width:100%;
	border:1px solid #e7e7e7;
	margin-bottom:40px;
	overflow:hidden;
	background:#f5f5f5;
	padding:30px
}
.flex .case-content-item .img-box {
	width:40%
}
.flex .case-content-item .img-box a {
	display:block
}
.flex .case-content-item .case-content-item-center {
	width:55%
}
.flex .case-content-item:nth-of-type(odd) .img-box {
	float:right
}
.flex .case-content-item:nth-of-type(even) .img-box {
	float:left
}
.flex .case-content-item:nth-of-type(odd) .case-content-item-center {
	float:left
}
.flex .case-content-item:nth-of-type(even) .case-content-item-center {
	float:right
}
.flex .case-content-item .case-img-list {
	display:flex;
	align-items:center;
	margin-top:30px
}
.flex .case-content-item .case-img-list a {
	display:block;
	width:20%;
	max-width:167px;
	max-height:125px;
	margin-right:30px
}
.flex .case-content-item .case-img-list img {
	max-width:100%;
	max-height:100%
}
